* {
  margin: 0;
  color: rgb(22, 136, 236);
}

body {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}

h1 {
  color: blueviolet;
}

p {
  width: auto;
  cursor: pointer;

  &:hover {
    color: aqua;
  }
}
